# Peer Graded Assignment - Week 3
## PART 2

In [27]:
#Let us import the data that was cleaned earlier

import pandas as pd
df = pd.read_csv('Week3data.csv')
df = df.drop(columns=['Unnamed: 0'])
df = df.rename(columns={"Postcode": "PostalCode"})
df.head()

  PostalCode      Borough                           Neighbourhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [18]:
#Import Geocoder Library
!pip install geocoder

import geocoder

Requirement already satisfied: geocoder in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (1.38.1)
Requirement already satisfied: click in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from geocoder) (7.1.2)
Requirement already satisfied: requests in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from geocoder) (2.23.0)
Requirement already satisfied: ratelim in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from geocoder) (0.1.6)
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from geocoder) (1.14.0)
Requirement already satisfied: future in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from geocoder) (0.18.2)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->geocoder) (2020.4.5.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->geocoder) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->geocoder) (2.9)
Requirement already satisfied: decorator in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from ratelim->geocoder) (4.4.2)

### Let us define a function to make the process of assigning co-ordinates much easier

In [19]:
def get_latlng(postal_code):
    # initialize your variable to None
    lat_lng_coords = None
    # loop until you get the coordinates
    while(lat_lng_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
        lat_lng_coords = g.latlng
    return lat_lng_coords

#Let's test our function
get_latlng('M1H')

[43.76879106300004, -79.23881306799996]

#### Now, Lets find the co-ordidantes of each Postal Code

In [24]:
postal_codes = df['PostalCode']   

lat_lang = []

for code in postal_codes.tolist():
    lat_lang.append(get_latlng(code))

lat_lang[0:5]

[[43.80862623100006, -79.18991284599997],
 [43.78577865700004, -79.15736763799998],
 [43.76580607300008, -79.18528434099994],
 [43.77154467100007, -79.21813521299998],
 [43.76879106300004, -79.23881306799996]]

In [28]:
#Assigning these co-ordinates to our data frame

df_latlang = pd.DataFrame(lat_lang, columns=['Latitude', 'Longitude'])
df['Latitude'] = df_latlang['Latitude']
df['Longitude'] = df_latlang['Longitude']
df.head()

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.808626,-79.189913
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.785779,-79.157368
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.765806,-79.185284
3,M1G,Scarborough,Woburn,43.771545,-79.218135
4,M1H,Scarborough,Cedarbrae,43.768791,-79.238813

In [31]:
df.to_csv('Week3-2data.csv', index=False)

In [33]:
#lets do a sanity check

df[df.PostalCode == 'M1H']

  PostalCode      Borough Neighbourhood   Latitude  Longitude
4        M1H  Scarborough     Cedarbrae  43.768791 -79.238813

In [34]:
df.shape

(103, 5)

In [35]:
df.head()

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.808626,-79.189913
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.785779,-79.157368
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.765806,-79.185284
3,M1G,Scarborough,Woburn,43.771545,-79.218135
4,M1H,Scarborough,Cedarbrae,43.768791,-79.238813